.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    
    .inner {
        display: grid;
        gap: 10px;
        grid-template-columns: auto auto;

        img {
            aspect-ratio: 16 / 9;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 700px) {
    .inner {
        grid-template-columns: auto !important;
    }
}
